table, th, td {
    border: 1px solid rgb(0, 0, 0);
    overflow: auto; height: 60px; width: 200px
  }

  table {
    border-spacing: 6px;
    border: 1px rgb(#CCC);
    margin-top: .5in;
    margin-left: 1in;
    }

    td {
        width: 40px; height: 40px; 
        border: 1px solid black;
   
        }




.bodyClass 
{
    /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
       */
       background-color: rgb(87, 83, 83);
}

.boxRow 
{    

display: flex;
font-family: Arial, Helvetica, sans-serif;
flex-direction: column;
background-color: rgb(183, 131, 231);
}

.bodyDiv 
{
background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);  
display: flex;
justify-content: center;

}

.border 
{
    border: 5px solid red;
}

.flexbox 
{
display: flex;

}

.hide 
{
display: none;

}

.hide2 {display: none;}